body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-style {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the content inside .app-style */
  margin: 0 auto; /* Center the .app-style container itself */
}
