
<div class="slider-container">
  <button mat-button (click)="prevImage()">&#10094;</button>
  <div class="slider-content">
    <img *ngIf="currentIndex === 0" src="assets/en-gruppe-i-et-mote.jpg" alt="Image Slider">
    <div *ngIf="currentIndex === 1" class="rss-feed-slide">
      <div *ngIf="isDesktopView">
        <app-rss-feed-reader [rssFeedUrl]="rssFeedUrl"></app-rss-feed-reader>
      </div>
      <div *ngIf="!isDesktopView">
        <app-location-display></app-location-display>
      </div>
    </div>
    <div *ngIf="currentIndex === 2" class="video-slide">
      <app-youtube-player [videoId]="videoId"></app-youtube-player>
    </div>
  </div>
  <button mat-button (click)="nextImage()">&#10095;</button>
</div>
